//$r18-red-400: #df1343;

// R18 BLUE
$r18-blue: #388BE2;         // button, success, notification, channels
$r18-blue-dark: #2669AE;    // border, shadow
$r18-blue-light: #78ACEA;   // border, background
$r18-blue-bg: #DBE9F9;      // background

// R18 RED
$r18-red: #EF1C48;          // LOGO, BUTTON, CAUTION, BAR, VOD
$r18-red-dark: #A9043A;    // BORDER, SHADOW
$r18-red-light: #F3607E;    // BORDER, BACKGROUND
$r18-red-bg: #FFF0F3;       // BACKGROUND

// R18 OTHER
$r18-green: #16B483;        // ICON, OTHER

// R18 GREYS
$r18-black: #000000;           // TEXT, BORDER, BACKGROUND
$r18-grey-dark: #262626;    // TEXT, BORDER, BACKGROUND
$r18-grey: #626262;         // TEXT, BUTTON, BORDER, BACKGROUND
$r18-grey-light: #B2B2B2;   // TEXT, BUTTON, BORDER, BACKGROUND
$r18-smoke: #E8E8E8;        // BORDER, BACKGROUND
$r18-smoke-bg: #F0F0F0;  // BACKGROUND
